.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
height: 30vh;
}

.spinner::after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #34495e;
  animation: loader 1.0s infinite ease-in-out;
}

@keyframes loader {
  0% {transform: scale(0); }
  100% { 
      transform: scale(1.1); 
      opacity: 0
  }
}